.mpc-ft {
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }

    &__container {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1140px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;

        &--full-screen {
            height: 100vh;
        }
    }
}