.mpc-ft {
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
        font-family: inherit;
    }

    &__container {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1140px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &--full-screen {
            padding: 30vh 0;
            min-height: calc(100vh - 60px);
        }
    }
}